<div class="container">
  <header class="header">
    <nav role="navigation">
      <ul class="nav nav-pills pull-right">
        <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
      </ul>
    </nav>
    <span class="logo"></span>
  </header>

  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

  <main role="main">
    <%= @inner_content %>
  </main>
</div>
