<div>
  <h2 class="text-center"><%= gettext "Welcome to %{name}!", name: "SpiderSense" %></h2>
  <p class="lead text-center">Traverse your project's web of dependencies.</p>

  <hr>

  <div class="row row-offcanvas row-offcanvas-left">
    <%= live_render(@conn, SpiderSenseWeb.DGraphLive) %>
  </div>
</div>
